    .navbar .navbar-brand {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 700;
        margin: 5px 0px;
        padding: 20px 15px;
        color: #66615B;
        text-transform: uppercase;
    }
    
    .navbar .navbar-collapse .nav-item .dropdown-item i {
        margin: 0 10px;
        margin: 0 10px 0px 5px;
        font-size: 18px;
        position: relative;
        top: unset;
    }
    
    .motto h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 4em;
        color: white;
    }
    
    .motto h4 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 3em;
        color: white;
    }
    
    .motto h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 2.5em;
        line-height: 1.4;
        margin: 20px 0 0px;
        color: white;
    }
    
    .motto h6 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        line-height: 1.4;
        margin: 20px 0 0px;
        color: rgb(101, 121, 124);
        text-transform: none;
    }
    
    .change-yellow {
        font-size: 3em;
        color: #f5b208;
    }
    
    .other-page-header {
        background-color: #B2AFAB;
        background-position: center center;
        background-size: cover;
        min-height: 80vh;
        max-height: 999px;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card img {
        max-width: 100%;
        height: auto;
        border-radius: 0 0 0 0;
    }
    
    .card .card-text {
        color: #3f3f3f;
    }
    
    .description {
        color: #3f3f3f;
    }
    
    .contact-separator {
        margin-top: 30px;
    }
    
    .contact-item-gap {
        margin-bottom: 15px;
    }
    
    .contact-links a {
        color: #66615b;
    }
    
    .btn-kerux {
        background-color: #1e2330;
        border-color: #1e2330;
        color: #FFFFFF;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    
    .btn-kerux:hover {
        background-color: #12161f;
        color: #FFFFFF;
        border-color: #12161f;
        box-shadow: none;
    }
    
    .btn-kerux-inverse {
        background-color: #0b1011;
        border-color: #ffffff;
        color: #ffffff;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    
    .btn-kerux-inverse:hover {
        background-color: #ffffff;
        color: #0b1011;
        border-color: #ffffff;
        box-shadow: none;
    }
    
    .tunnel {
        padding: 20px;
        border-top: 5px solid #f5b208;
        border-bottom: 5px solid #f5b208;
    }
    
    .tunnel-inverse {
        padding: 20px;
        border-top: 5px solid #ffffff;
        border-bottom: 5px solid #ffffff;
    }
    
    .bold-yellow {
        font-weight: 700;
        color: #f5b208;
    }
    
    .bold-yellow-inverse {
        font-weight: 700;
        color: #ffffff;
    }
    
    .icon-danger {
        color: #f5b208;
    }
    
    .btn-magnum {
        background-color: #f5b208;
        border-color: #f5b208;
        color: #FFFFFF;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    
    .btn-magnum:hover {
        background-color: #e69603;
        color: #FFFFFF;
        border-color: #e69603;
        box-shadow: none;
    }
    
    .btn-magnum.btn-link {
        color: #1e2330;
    }
    
    .btn-magnum.btn-link:hover,
    .btn-magnum.btn-link:focus,
    .btn-magnum.btn-link:active,
    .btn-magnum.btn-link.active,
    .btn-magnum.btn-link:focus:active,
    .open>.btn-magnum.btn-link.dropdown-toggle {
        background-color: transparent !important;
        color: #12161f !important;
    }
    
    .dropdown-menu.dropdown-info .dropdown-item:hover,
    .dropdown-menu.dropdown-info .dropdown-item:focus {
        background-color: #f5b208;
    }
    
    .large-quote {
        font-size: 2.8em;
    }
    
    .semi-large-quote {
        font-size: 2em;
    }
    
    .thick-text {
        font-weight: 500;
    }
    
    .bold-heading {
        font-size: 1em;
        font-weight: 700;
    }
    
    .service-tunnel {
        font-size: 2rem;
        padding: 20px;
        border-bottom: 5px solid #f5b208;
    }
    
    .bg-yellow {
        background-color: #f5b208;
    }
    
    .service-separator {
        margin-bottom: 30px;
    }
    
    .gap {
        margin-bottom: 30px;
    }
    
    .more-gap {
        margin-bottom: 70px;
    }
    
    .footer .copyright {
        color: #A49E9E;
        font-size: 1em;
    }
    
    .footer-icons {
        font-size: 1.2em;
    }
    
    .image-size {
        height: 150px;
    }
    
    .toggle-button {
        background: gray;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
    }
    
    .toggle-button:hover {
        background: gray;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
    }
    
    @media (min-width: 768px) {
        .card-equalizer {
            min-height: 280px;
        }
    }
    
    @media (max-width: 991px) {
        .service-gutter {
            min-height: 300px;
        }
    }
    
    @media (min-width: 992px) {
        .card-height-equal {
            min-height: 310px;
        }
        .card-equalizer {
            min-height: 220px;
        }
        .service-gutter {
            min-height: 450px;
        }
    }
    
    @media (min-width: 1200px) {
        .card-height-equal {
            min-height: 270px;
        }
        .card-equalizer {
            min-height: 180px;
        }
        .service-gutter {
            min-height: 450px;
        }
    }